/*  #main-navigation-container; line 117 - added position:fixed */
/* note: add any styles that apply to ALL screen sizes BEFORE media queries (E. Gusnoski) */

/* #dropdown-menu { position: relative; }	*/


html body {
    width: 100%;
}
.wrap {
    padding: 1em;
    height: auto;
    min-height: 90%;
}

/* mega menu styles */

.sf-mega ul {
    margin: 0;

}

.sf-mega li {
    margin-left: 0;
}

.sf-menu > li {
    width: 100%;
}

.sf-mega h2 {
    color: #FFFFFF; 
    border-bottom: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.sf-mega .button {padding: 0;}

.sf-mega-section {
    /* border-right: 2px solid #4d6c92;
    height: 18em; */
}

.megamenu.horizontal {
    width: 100%;
    float: left;
    background: #2e5288;
}


/* header  */

#header-main {
    float: left; 
    width: 100%; 
    margin-top: 1em; 
    margin-bottom: 0;
}

#header-main .logo {
    float: left;
}

#header-main h3 {
    float: left; 
    clear: both; 
    margin-top: -0.2em; 
    margin-left: 2.6em; 
    border-bottom: 0;
}

#header-main .title {
    float: left;
}

.page #header-main .utility-nav {
    margin-bottom: 1em;
}

.log-in-out { 
    clear: both;
    width: auto;
}

.log-in-out a.button { 
    width: 100%; 
    background:  #d42329; 
    color: #FFFFFF; 
    font-family: 'Open-Sans', sans-serif; 
    text-transform: uppercase; 
    font-weight: normal; 
    font-size: 80%;
}


/* global elements */

.content-wrap {
    background: url("../images/greyTexture.jpg") repeat scroll 0 0 #fefefe; 
    padding-bottom: 4em; 
}

.mean-nav h2 {display: none; }

.footer {margin-top: 0;}


#main-content, #main-navigation-container {
    margin-top: 4em;  
}

/*  affix left navigation panel/page when accessing Fin Resources, Get Help & Services at top */ #main-navigation-container {
    position: fixed; 
    left: 4em;
    top: 14.8em; 
    max-width: 19em;
}

h1, h2, h3 {
    color: #2e5288;
    border-bottom-color: #cdd4de;
}

.columns-3 {
    float: left;
    width: 100%;
    margin-top: 1em;
}

/* content */

.inset {
    position: relative; z-index:0;	
    width:100%;
    float:left;   
    background:  no-repeat #fefefe;
/*       background-color: #FF9; 
	background-size: 100% auto;
       background: url('/images/search-bg.jpg') no-repeat #fefefe;
        background-size: 100% auto;  */
}

.button.red {background-color: #d42329;}
.button.orange {background-color: #f37321;}

.button.red:hover, .button.red:active, .button.red:focus {
    background-color: #B5070D;
}

.button.orange:hover, .button.orange:active, .button.orange:focus {
    background-color: #D95704;
}

.button.icon {
    background-repeat: no-repeat; }

.button a {
    display: block;
    padding: 1em;
    color: #FFFFFF;

}

.button a:link, .button a:visited {
    text-decoration: none;
    color: #FFFFFF;
}


.feature-links h2 {
    border-bottom: none;
    padding: 0.4em;
    font-size: 1em;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.feature-links ul {
    padding-left: 0;
    font-size: 0.9em;
}

.feature-links li {
    list-style-type: none;
    margin-bottom: 0.2em;
    padding: 0.6em 1em;
    color: #2e5288;
    font-weight: bold;
}

.feature-links a {
    display: inline-block;
    width: 80%;}

.feature-links li:before {
    content: ">";
    padding-right: 1em;
    vertical-align: top;
}

.feature-links.blue li {
    background: rgba(30,65,100,0.1);
}

.feature-links.orange li {
    background: rgba(243,115,33,0.1);
}

.feature-links.blue h2 {background-color: #2e5288;}
.feature-links.orange h2 {background-color: #f37321;}

.feature-buttons .button {
    padding: 0;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: normal;
}

.icons-laptop {
    background-image: url("/images/icons-laptop.png"); 
    background-position: 0.6em 50%; 
}
.icons-envelope {
    background-image: url("/images/icons-envelope.png"); 
    background-position: 1em 50%;
}
.icons-video {
    background-image: url("/images/icons-video.png");
    background-position: 1em 50%; 
}

/* added oct 9/15 */
.icons-orientations {
    background-image: url("/images/icons-orientations.png");
	
    background-position: 1em 50%; 
}
#contact-us, #digital-reading-room, #welcome-video, #orientations {
	max-height: 93% !important;
	
	margin-top: 0.27% !important;
	
	
} 
#contact-us > a, #digital-reading-room > a, #welcome-video > a, #orientations > a {

	line-height: 1em;


}


.feature-buttons .button a {
    padding: 1em 1em 1em 4em;
} 

.feature img {
    display: block; 
    float: left;
}

.feature-article {font-size: 0.8em;}

.feature-article h2 {
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    width: 100%;
    font-size: 1.2em;
    color: #2e5288;
    margin-bottom: 0.8em;
    font-weight: bold;
}

.feature-article.blue h2 {
    border-bottom-color: rgba(30,65,100,0.1);

}

.feature-article.orange h2 {
    border-bottom-color: rgba(243,115,33,0.1);

}

.feature-article img {
    width: auto;
    max-width: 96%;
    margin: 0 1em 1em 0;
}

.feature-article.blue .feature {border-bottom: 0.4em solid rgba(30,65,100,0.1);}
.feature-article.orange .feature {border-bottom: 0.4em solid rgba(243,115,33,0.1);}

.feature-article h3 {
    margin:0;
    font-weight: bold;
    color: #000000;
    border-bottom: none;
}

.feature-article .image-full img {width: 100%;}


/* search panel */

#allsearch {
    margin-bottom: 1em;
    position: relative;
    float: left;
    width: 100%;
}

#allsearch ul.tabs {
    float: left;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0.4em;
    margin-top: 1em;
}

#allsearch .tabs .button {
    width: auto; 
    float: left;
    clear: none;
    padding: 0;
    font-weight: normal;
    clear: both;
}


#allsearch .view {width: 100%;}

#allsearch .view form {width: 100%;}


#allsearch .view .searchbox_hint {

    color: #999999;
    font-family: "Times New Roman", serif;
}


#allsearch .search-links {
    font-size: 0.8em;
    margin-top: 0.6em;
    float: left;
}

/*  ******************  PUT IN HERE TO CORRECT FONT FOR MIN BROWSER WIDTH  SEP 15  *****************************  */
    #allsearch .search-links a {
        color: #FFFFFF;
        text-decoration: none;
        font-size:1.1em;
        font-weight: bold;
		
/*		-webkit-text-stroke: 1px black;   */
		text-shadow:
       2px 2px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    }

  #notificationbar {
	position:absolute;  
	width:100%; 
/*	height:35px;       */
	padding-left:5px;
	padding-top:0px;  
/*	margin-top:-20px; */ 	/*  between 'Home'  and  'Log into your library Account'  */
	margin-top:7px;  	/*  between 'Discover' and 'About Us'  */
	padding-bottom:0px;
	border-style: solid;
	border-color: green;
	background-color: #e2ffc6;
	text-align: left;
}    
 
 #libchat-info {
    padding: .75em 1em;
    text-decoration: none;
    zoom: 1;
    color: #FFFFFF;
    display: block;
    position: relative;
    float: right;
 }  

/* ************************************************************************************************************ */

#allsearch .button a { padding: 0.4em;}

#allsearch .button.last {
    margin-right: 0;
}


#allsearch .view {
    clear: both;
    float: left;
}


#allsearch .searchbox_submit {
    float: right;
    font-size: 1em;
    font-weight: bold;
    height: 2.6em;
    margin: -42px 0 0 0;
    padding: 0 0.5em;
    position: relative;
    width: auto;
}


#allsearch .searchbox, #allsearch .searchbox_hint, #allsearch .searchbox_journal {
    background:#f3f3f3;
    border:1px solid #BBBBBB;
    float:left;
    margin-top:0.85em;
    height: 2.6em;
    padding: 0 2em 0 0.6em;
    font-size: 1em;
    font-family: "Times New Roman", serif;
}

#allsearch .searchbox, #allsearch .searchbox_hint {
    width: 100%;
}


#notification-sup {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: red;
}


#home-rss {
    float: right;
}

#resource-title .resource-alphabet {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd;
    border-image: none;
    border-style: solid;    
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;    
}

.resource-title {
    float: left;
}

.resource-descr {
    clear:both;
    font-size: 1.1em;
}
.resource-note {
    color:red;
}

.node-descr {
    clear:both;
    font-size: 1.1em;
}

#main-content #main img {
    margin-right:0em;
    margin-bottom:0em;
    margin:0;
    padding:0;
    float: right;
}

div #popup {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: #eeeeee;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
}

.tooltip-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #2e5288;
}

.tooltip-descr {
    margin: 0px 0px 0px 5px
}




.searchbox_journal
{
    float:left;
    margin-left: 0px;
    width: 30%;    /***** added by ER in order not to break double box **/ 
    min-width: 100px;
}



#boxes2.searchbox_submit_over #box1 #box2 #box3 #box4 {
    position: relative;
    right: -47.7em;
    top: -3.4em; 
    
}

ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    
    font-weight: bold;
    font-size: 1.1em;    /*** changed font size from 1.2em to 1.1em ****  ER/
    
/*    border: 1px solid #B7B7B7;
    border-bottom-color: white;*/
}
               
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}

#ebscohostsearchtextc  {
    margin-left: 0px;
    height: 3em;
    float: left;
    width: 30%;
}



input.searchbox_submit_over {
    float: right;
    position: relative;
    top: -3.4em; 
    right: -47.7em;
    width: 25em;
    height: 3.4em;
    padding: 12px;
}


.tabs  {
margin-top: -0.95em;   /*** added by ER in order put search box higher in order to see links under box ****/

}

/* below added in order to include custom form for the result page */

    #search_result {
        float:right;
        position: relative;
        margin-left: 51.0em;
        margin-top: -3.2em; 
        height: 3.1em; 
        width: 15%;
        font-weight: bold;
        font-size: 1.05em;
        }

        #search_result.searchbox_submit_over {
        position: relative;
        top: 0em;
        left: 0em;
        height: 3.2em; 
        width: 15%; 
        float:right;
}

        #custom_gse_box   {
        float:right;
        max-width: 100%;
        } 
        
        
        
    #tbvkq5_pe0w_cse  {
    min-width: 40%; 
    max-width: 100%;
    margin: 0 auto; 
    }
    /* above added in order to include custom form for the result page */
    
   video {
           /*min-width: 100%;*/
            max-width: 100%; /* added  for FullScreen of access. player by ER */
          height:auto;
        }
        

    /* responsive video above  added nov5. 14 er */
	
	
	/*  below class added for bottom note of dropdown menu ER */
	.left_class {
	clear: both;
	color: white;
}

/*  JAN 30 2018 - HAMBURGER FOR @MEDIA < 44 EM - MOBILE  */
#searchbars {display: none;}

.closebutton {display: none;}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////   MEDIA QUERIES //////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* tablet width */

@media (min-width: 44em) {

    .page #header-main .utility-nav  {
        width: auto;
    }

    .log-in-out a.button {

        float: right;
        width: auto;
    }


    .sf-mega .button {
        float: right;
        width: auto;
    } 

    .sf-mega-section {
        /* border-right: 2px solid #4d6c92; */

    }

    .sf-menu > li {
        width: auto;
    }

    .inset
    {
        border:.5em solid #FFF;
        -moz-box-shadow:inset 0 0 30px #CCC;
        -webkit-box-shadow:inset 0 0 30px #CCC;
        box-shadow:inset 0 0 30px #CCCCCC,0 0 8px #CCC;
        text-align:center;
        margin-bottom:2em;
/*  TOOK OUT SEPT 7, 2017 - to accomodate size differences */	
/***  TOOK OUT NOV 27, 2017 - TEST -  TO FIT SLIDER JPG'S PROPERLY UNDER NOTIFCTNBAR  ***/	
/*       background: url('/images/banner01.jpg') no-repeat #fefefe;  */
        background-size: 100% auto; 
/********  3 lines below put in sep11,17 **************** */
	background-origin:  border-box;
	background-clip: content-box;
	background-position: 100% 100%;
/********  3 lines above put in sep11,17 **************** */
        margin-top:2em;
        height: 260px;
        margin-bottom:2em;
        margin-top:2em;
    }

    .banner img
    {
	width: 100%;
	height: 100%;
}






    #allsearch .search-links {
        color: #FFFFFF;
    }

    #allsearch .search-links a {
        color: #FFFFFF;
        text-decoration: none;
        font-size:1.1em;
        font-weight: bold;
		
/*		-webkit-text-stroke: 1px black;   */
		text-shadow:
       2px 2px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    }

    #allsearch {
        margin-left: 1em; 
        margin-bottom: 2em;
        position: relative;
        top: 30%;
        width: 68%;
        float: left;
    }

    #allsearch .searchbox_submit {
        height: 2.6em;
        margin-top: -2.6em;
    }

    #allsearch .tabs .button {
        clear: none;
        margin-right: 0.2em;
        font-size: 0.85em;} 
		
	.left_class {
	
	
	
}

	#searchboxtext {
		width: 30%;
		height: 60%;
		padding:5px;
		margin-right:5%;
		margin-top:3%;
		background-color: #1E4164;
		float: right;
		font-size: 1.5em;	
		color: #ffffff;
	}

/*  affix left navigation panel/page when accessing Fin Resources, Get Help & Services at top */
#main-navigation-container {
    position: fixed; 
    left: 3em;
    top: 14.8em; 
    max-width: 8em;
}
        

/* *******************************************  @media (min-width: 44em)  ********************************* */
/*  For notification bar Larry sep15  */
#notificationbar {
	position:absolute;
	width: 100%;
	padding-left:5px;
	padding-top:0px;
	margin-top:-33px;   
	border-style: solid;
	border-color: green;
	background-color: #e2ffc6;
	text-align: left;
}  

/* *******************************************  @media (min-width: 44em)  ********************************* */

/*  JAN 30 2018 - HAMBURGER FOR @MEDIA < 44 EM - MOBILE  */
#searchbars {display: none;}
.closebutton {display: none;}
.hitter {display: none;}

}

/* desktop width */

@media (min-width: 72em)  {

    .inset
    {
        border:.5em solid #FFF;
        -moz-box-shadow:inset 0 0 30px #CCC;
        -webkit-box-shadow:inset 0 0 30px #CCC;
        box-shadow:inset 0 0 30px #CCCCCC,0 0 8px #CCC;
        text-align:center;
        margin-bottom:2em;
/*        background: url('/images/search-bg3.jpg') no-repeat #fefefe; */ 
/*        background: url('/images/banner01.jpg') no-repeat #fefefe;  */
        background-size: 100% auto;  
/********  3 lines below put in sep11,17 **************** */
	background-origin:  border-box;
	background-clip: content-box;
	background-position: 100% 100%;
/********  3 lines above put in sep11,17 **************** */
        margin-top:2em;
        height: 340px;
        margin-bottom:2em;
        margin-top:2em;
    }

    .banner img
    {
	width: 100%;
	height: 100%;
}

    #allsearch {
        margin-left: 1em; 
        margin-bottom: 1em;
        position: relative;
        top: 46%;
        width: 74%;
        float: left;
        max-width: 708px;
    }

    #allsearch .button.last {
        float: right; 
    }

    #allsearch .button a { 
        padding: 0.4em 1em;
    }

    .searchbox, .searchbox_hint {

        height: 2.8em;
        font-size: 1.2em;


    }

    #allsearch .searchbox_submit {padding: 0 1em;}
	
	
/* 2-nd dropdown menu below for desktop  --ER                     */	
	.left_class {
	float: left; 
	margin-top: -2em;
}

/*  affix left navigation panel/page when accessing Fin Resources, Get Help & Services at top */
#main-navigation-container {
    position: fixed; 
    left: 4em;
    top: 14.8em; 
    max-width: 19em;
}

/* *******************************************  @media (min-width: 72em)  ********************************* */
/*  For notification bar sep15  */
  #notificationbar {
	position:absolute;
	width:100%;
	padding-left:5px;
	padding-top:0px;
	margin-top:-36px;   
	border-style: solid;
	border-color: green;
	background-color: #e2ffc6;
	text-align: left;
}   
/* *******************************************  @media (min-width: 72em)  ********************************* */


}   		/* <--   **********************  	END  @media (min-width: 72em)  ************  *********** -> */

	#admin-main-content {
	padding-top:100px;
}

/*  INSERTED JAN 30 2018 - HAMBURGER MENU - MOBILE - @MEDIA < 44 EM  */
#searchbars {display: none;}
.closebutton {display: none;}

/* *******************************************  @media (min-width: 72em)  ********************************* */
/*  For notification bar sep15  */
/*  #notificationbar {
	position:relative;
	width:auto;
	padding-left:5px;
	padding-top:0px;
	margin-top:-36px;   
	border-style: solid;
	border-color: green;
	background-color: #ffffff;
}  */ 
/* *******************************************  @media (min-width: 72em)  ********************************* */